pre, code {
  font-size: 1.5rem;
}

code {
  padding: 3px 7px !important;
}

code.language-text {
  background-color: #eee !important;
  color: darkslategrey !important;
}

pre[class*="language-"] > code {
  margin: -0.7rem;
}