#contact-form {
  margin: 30px 0;

  label {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		border: 1px solid #d3f4ff;
		border-radius: 0;
		color: inherit;
		display: block;
		outline: 0;
    padding: 0 20px;
    margin: 1em 0;
		text-decoration: none;
    width: 100%;
    max-width: 100%;
    font-size: 2rem;
    font-weight: 300;

		&:invalid {
			box-shadow: none;
    }

		&:focus {
      background-color: #f7f7f7;
      border-color: #f7f7f7;
		}
  }

  *:focus, *:active {
    outline: none !important;
  }
  
  input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select {
		height: 60px;
	}

	textarea {
		padding: 0.75em 1em;
  }

  input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		border: 0;
		border-radius: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 600;
		height: 50px;
		letter-spacing: 2px;
		line-height: 3.5em;
		padding: 0 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
  }

  input[type="submit"] {
    border: 2px solid transparent;
    background-color: $link-color;
    color: #fff;
    &:hover {
      background-color: darkorange;
      border: 2px solid transparent;
    }
    transition: 0.6s all;
  }

  input[type="reset"] {
    border: 2px solid $link-color;
    color: $link-color;
    &:hover {
      color: darkorange;
      border: 2px solid darkorange;
    }
  }
  
  input[type="submit"].special {
    margin-right: 20px;
  }
}