@import '../assets/scss/main.scss';

pre, code {
  font-size: 1.5rem;
  border-radius: 15px;
}

code {
  padding: 3px 10px 3px 10px !important;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;
}

.blog-post-container {
  position: relative;
}

.blog-post {
  h1.bold {
    font-weight: 600;
  }
}

.blog-post-content {
  font-size: 1.9rem;
  margin: 50px 0 100px 0;

  h3, h4, h5 {
    margin-top: 50px;
  }
}

.blog-hero-image {
  width: 100%;
  margin: 40px -50px;
  img {
    max-width: 150%;
  }
}

.blog-pagination {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  margin: 5em 0;
  padding: 40px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  .left, .right {
    text-align: center;
    flex-grow: 1;
    flex-basis: auto;
    padding: 10px 25px;
    margin: 0 20px;
    transition: all 0.8s;
    span {
      text-transform: uppercase;
      font-weight: 600;
      display: block;
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.3);
    }
  }
  a span {
    color: black;
    &:hover {
      color: black;
    }
  }
  a:hover {
    color: darkorange;
  }
}

.floating-button {
  top: 20px;
  right: 20px;
  font-size: 1.7rem;
  margin-bottom: 20px;
  width: fit-content;
}