@import '../../assets/scss/main.scss';

.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50px;
  top: 55px;

  @include media('>=large') {
    left: 50px;
    top: 55px;
  }
  @include media('>=medium', '<large') {
    left: 50px;
    top: 55px;
  }
  @include media('>xsmall', '<medium') {
    left: 30px;
    top: 50px;
  }
  @include media('<=xsmall') {
    left: 20px;
    top: 50px;
  }
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #303138;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: #232323;
  width: 250px;
  padding-top: 20px;

  a {
    color: darkgray;

    &:hover,
    &:focus {
      color: white;
    }
  } 
}

.bm-item-list {
  a {
    padding: 0.9em 1.5em;
  }
}

.menu-item {
  span.name {
    margin-left: 20px;
    font-weight: 700;
  }

  &:hover {
    background-color: #2b2b2b;
  }
}

.menu-close-button {
  font-size: 25px;
  height: 35px;
  line-height: 35px;
  text-align: right;
  margin: 10px 20px;
  padding: 0 !important;
}