@import '../../assets/scss/main.scss';

#header {

  text-align: center;
  margin-bottom: 50px; 
  text-transform: uppercase;
  letter-spacing: 2px;

  a {
    color: black;
  }
  .logo {

    @include media('>=large') {
      font-size: 1.5em;
    }
    @include media('>=medium', '<large') {
      font-size: 1.5em;
    }
    @include media('>xsmall', '<medium') {
      font-size: 1.1em;
    }
    @include media('<=xsmall') {
      font-size: 1.1em;
    }

  }
}