
.icon-mail:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */