.banner-background-wrapper {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/naruthk/image/upload/c_scale,w_750,dpr_auto/naruthk.com/general/full-width-photo-half-height.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}